<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Modification ville</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <h1>Modification des données d'une ville</h1>
    <hr>
    <h2>Modifier la ville</h2>

    <form action="#" th:action="@{/update/{id}(id=${ville.id})}" th:object="${ville}"
          method="POST">
<!--        <input type="hidden" th:field="*{id}">-->
        <label>Nom de la ville</label>
        <input type="text" th:field="*{nom}" class="form-control mb-4 col-4">

        <label>Nombre d'habitants</label>
        <input type="number" th:field="*{nbHabitants}" class="form-control mb-4 col-4">

        <input type="hidden" th:field="*{codeDepartement}" class="form-control mb-4 col-4">

        <input type="hidden" th:field="*{nomDepartement}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Ajouter la ville</button>
    </form>

    <hr>

    <a href="/villes/liste">Retour à la liste des villes</a>
</div>
</body>
</html>